#cy {
    background-color: rgb(209, 244, 247);
    width: 1000px;
    height: 600px;
    outline-style:double;
}

.addNodeBtn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
    width: 4rem;
    background-color: aqua;
    border-radius: 10px;
}